.pageGrid {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-row-gap: 100px;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main";
      
  }

  a, u {
    text-decoration: none;
  }