.headerButton {
  background-color: white;
  border: none;
  color: black;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  margin: 15px;
}

.searchButton {
  display: inline-block;
  color: white;
  position: relative;
  background-color: #0368F9;
  min-width: 150px;
  min-height: 60px;
  border: none;
  font-size: 20px;
}


.dropbtn {
  display: inline;
  background-color:white;
  padding: 20px;
  font-size: 16px;
  border-width: 2px;
  min-width: 300px;
  cursor: pointer;
  border: none;
  margin-left: 2px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  border-bottom-style: solid;
  border-color: lightgray;
  border-width: 1px;
  text-decoration: none;
  display: block;
}

.dropdown p:hover {background-color: #2980B9;}

.show {
  display: block;
  overflow-y: hidden
}

.threeDots:after {
  color: lightgray;
  font-size: 30px;
}

.alignRight {
  text-align: right;
  color: lightgray;
  font-size: 30px;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
  font-size: 30px;
}

