.pageGrid {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-row-gap: 1px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main";
}

.header {
  padding-right: 30px;
  padding-left: 50px;
  text-align: right;
  padding-bottom: 100px;
  grid-area: header;
  background-color: #0368F9;
}

.main {
  grid-area: main;
  display: grid;
  background-color: white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  grid-template-rows: repeat(6, minmax(75, 200));
  grid-template-columns: repeat(3, minmax(300, 1fr));
  grid-template-areas: 
    "topText . ."
    "infoGrid infoGrid picture"
    "infoGrid infoGrid picture"
    "infoGrid infoGrid picture"
    ". . specialInfoGrid"
    "bookButton . ."
}

.bookButton {
  grid-area: bookButton;
  height: 100px;
  background-color: #194CBF;
  color: white;
  font-size: 40px;
  border-radius: 8px;
  text-align: center;
  border: none;
}

.infoGrid {
  grid-area: infoGrid;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 75px;
  margin-top: 100px;
  grid-auto-flow: row;
  grid-column-gap: 50px;
}

.infoGridElement {
  max-width: 300px;
  font-size: 25px;
}

.picture {
  margin-top: 100px;
  grid-area: picture;
  width: minmax(600, 1000);
  height: minmax(450, 800);

}

.specialInfoGrid {
  grid-area: specialInfoGrid;
  margin-top: 30px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 50px);
  grid-row-gap: 15px;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  font-size: 20px;
}


.topText {
  grid-area: topText;
  color: #194CBF;
  font-size: 40px;
}



.grayLetters {
  color: gray;
}


a, u {
  text-decoration: none;
}

.headerButton {
  background-color: white;
  border: none;
  color: black;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  margin: 15px;
}

.alignRight {
  float: right;
  color: black;
  text-align: right;
  font-size: 30px;
}



.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
  font-size: 30px;
}

